.page-navigation {
    @include adaptiv-value('margin-bottom', 60, 40, 1);
    &__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}
