.team {
    &-body {
        &__item {
            padding: 10px;
            height: 220px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            border-radius: 4px;
            h6 {
                color: #fff;
                margin-bottom: 10px;
            }
            span {
                background-color: #e6e6e6;
                padding: 8px;
                border-radius: 4px;
                font-weight: 500;
                display: block;
                width: fit-content;
            }
        }
    }
}
