---
---

<footer class="footer">
    <div class="footer__main footer-main">
        <div class="footer-main__column">
            <h5>Despre Noi</h5>
            <ul>
                <li><a href="#">Organe de Conducere</a></li>
                <li><a href="#">Registrul Avocaţilor</a></li>
                <li><a href="#">Actele Uniunii</a></li>
                <li><a href="#">Instruirea Avocaţilor</a></li>
                <li><a href="#">Cum să devii avocat?</a></li>
            </ul>
        </div>
        <div class="footer-main__column">
            <h5>Adresa</h5>
            <ul>
                <li>Uniunea Avocaţilor din Republica Moldova</li>
                <li>MD-2012, mun. Chişinău</li>
                <li>str. Bucureşti nr. 46</li>
                <li>
                    Email:
                    <a href="mailto:uniunea.avocatilor.rm@gmail.com">
                        uniunea.avocatilor.rm@gmail.com
                    </a>
                </li>
                <li>Email CIA: <a href="tel:centrulcia@gmail.com">centrulcia@gmail.com</a></li>
            </ul>
        </div>
        <div class="footer-main__column">
            <h5>Contacte</h5>
            <ul>
                <li>Tel. secretariat: <a href="tel:+37322226152">+373 22 226 152</a></li>
                <li>Tel. anticameră : <a href="tel:+37362003737">+373 62 003 737</a></li>
                <li>Tel. comisii: <a href="tel:+37322222422">+373 22 222 422</a></li>
                <li>Tel. CIA: <a href="tel:+37360510097">+373 60 510 097</a></li>
                <li>Tel. contabilitate: <a href="tel:+37322226510">+373 22 226 510</a></li>
            </ul>
        </div>
        <div class="footer-main__column">
            <h5>Cont Bancar</h5>
            <ul>
                <li>Beneficiar: Uniunea Avocaților</li>
                <li>IBAN: MD96VI022242600000049MDL</li>
                <li>Cod fiscal: 39753014</li>
                <li>SWIFT: VICBMD2X469</li>
                <li>B.C. Victoriabank S.A. Sucursala 26</li>
            </ul>
        </div>
    </div>

    <div class="footer__disclaimer footer-disclaimer">
        <div class="footer-disclaimer__left">
            <img src="/assets/images/eu.png" />
            <img src="/assets/images/cpva.png" />
            <img src="/assets/images/blanc.png" />
        </div>
        <div class="footer-disclaimer__right">
            <p>
                Această pagină web a fost elaborată cu suportul financiar al proiectului „Sporirea
                transparenței, a responsabilității și a accesului la sistemul judiciar” finanțat de
                Uniunea Europeană și implementat de Agenția Centrală pentru Managementul Proiectelor
                și Expertise France.
            </p>
        </div>
    </div>

    <div class="footer__copyright footer-copyright copyright">
        © Uniunea Avocaților din Republica Moldova <time></time>. Toate drepturile rezervate.
    </div>
</footer>
