<aside class="menu-sidebar sidebar">
    <nav class="sidebar__nav sidebar-nav">
        <ul class="sidebar-nav__list">
            <li><a href="#">Prezentare</a></li>
            <li><a href="#">Organe de Conducere</a></li>
            <li><a href="#">Secretarul General</a></li>
            <li><a href="#">Barourile Teritoriale</a></li>
            <li><a href="#">Asociaţiile Avocaţilor</a></li>
            <li><a href="#">Rapoarte de Activitate</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav>
</aside>
