---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/General/Sidebar.astro';
---

<Layout>
    <div class="page-content">
        <div class="page-content__container">
            <div class="page-content__body grid page-grid">
                <Sidebar />

                <div class="page-content__content"></div>
            </div>
        </div>
    </div>
</Layout>
