$neutral900: #2c2c30;
$neutral800: #3f4047;
$neutral700: #72747d;
$neutral600: #a3a6b7;
$neutral500: #c3c4cd;
$neutral400: #dfe0e7;
$neutral300: #e8eaf1;
$neutral200: #edeff5;
$neutral100: #f8f9fb;

$primary900: #003999;
$primary800: #004baf;
$primary700: #005dc5;
$primary600: #0169cd;
$primary500: #3684f3;
$primary400: #5699ff;
$primary300: #72aeff;
$primary200: #8cc4ff;
$primary100: #b9ddff;
$primary50: #eff8ff;

$violet900: #382986;
$violet800: #4e3b9b;
$violet700: #644eb1;
$violet600: #7a61c6;
$violet500: #9075dd;
$violet400: #a689f4;
$violet300: #bd9fff;
$violet200: #d4b5ff;
$violet100: #edd1ff;
$violet50: #fef1ff;

$orange900: #832f00;
$orange800: #9b2500;
$orange700: #b44405;
$orange600: #cd401b;
$orange500: #e6572f;
$orange400: #ff6d42;
$orange300: #ff8356;
$orange200: #ff996a;
$orange100: #ffd6bd;
$orange50: #fff4ea;

$teal900: #004652;
$teal800: #005a65;
$teal700: #006e79;
$teal600: #00828d;
$teal500: #0097a2;
$teal400: #00adb8;
$teal300: #0ec3ce;
$teal200: #94f8ff;
$teal100: #cffcff;
$teal50: #e3ffff;

$error900: #83000c;
$error800: #9b001c;
$error700: #b4262d;
$error600: #cd3e3f;
$error500: #ef4c49;
$error400: #ff6059;
$error300: #ff8279;
$error200: #ff988e;
$error100: #ffcdc6;
$error50: #ffece8;

$warning900: #5f370e;
$warning800: #895118;
$warning700: #af6e26;
$warning600: #ca8828;
$warning500: #e9af3d;
$warning400: #fad759;
$warning300: #ffeb76;
$warning200: #fff7a6;
$warning100: #fffed7;
$warning50: #ffffe7;

$success900: #004618;
$success800: #005929;
$success700: #006e39;
$success600: #00944d;
$success500: #32a75a;
$success400: #57bd7a;
$success300: #75d390;
$success200: #85ebae;
$success100: #cbffe0;
$success50: #e8ffee;
